* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*Colors*/
/*Шапка*/
.title {
  /*Заливка шапки и высота*/
  background: url(../img/bg_base.jpg) no-repeat center;
  height: 82px;
}
.img_logo {
  /*Позиционируем значок*/
  float: left;
  padding-right: 10px;
  padding-top: 8px;
}
.title-header {
  /*Стилизуем левую часть шапки*/
  font-size: 20px;
  font-weight: 500;
  margin-top: 28px;
  line-height: 0.1;
}
.title-text {
  color: #3ea5ce;
}
.icons_title {
  /*Позиционирование значка*/
  margin-top: 18px;
  float: left;
  padding-right: 11px;
}
.phone {
  /*Стилизуем телефон*/
  margin-top: 26px;
  line-height: 0.2;
}
.title-phone {
  color: #3ea5ce;
}
strong {
  font-size: 20px;
}
.title-btn {
  position: absolute;
  top: 15px;
  left: 260px;
  width: 186px;
  height: 44px;
  color: #fff;
  background-color: #f39c12;
  border-radius: 5px;
  font-size: 13px;
}
/*Оффер - главный экран*/
.offer {
  height: 617px;
  background: url(../img/bg_offer.jpg) no-repeat center;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.offer-header {
  /*Секция с меню - готово*/
  margin-top: 20px;
  height: 63px;
  text-align: center;
  background: url(../img/nav_bg.jpg) no-repeat center;
}
.drive-input,
label {
  /*Развертывание чек-бокса (начало)*/
  display: none;
}
nav ul {
  text-align: center;
}
nav li {
  /* Стилизация списка меню*/
  text-align: center;
  height: 30px;
  margin-right: 50px;
  display: inline-block;
  margin-top: 18px;
  font-size: 16px;
  text-align: left;
  list-style: none;
}
.menu-header:hover {
  color: #f39c12;
}
.wrap-img {
  position: relative;
  display: inline-block;
  height: 29px;
}
.line {
  /*Позиционирование линий границ между блоками*/
  position: absolute;
  top: 10px;
  left: 75px;
}
.line_2 {
  position: absolute;
  top: 10px;
  left: 69px;
}
.line_3 {
  position: absolute;
  top: 10px;
  left: 195px;
}
.line_4 {
  position: absolute;
  top: 10px;
  left: 95px;
}
.line_5 {
  position: absolute;
  top: 10px;
  left: 155px;
}
.line_6 {
  position: absolute;
  top: 10px;
  left: 118px;
}
.menu-header {
  /*Стилизация ссылок меню*/
  display: inline-block;
  text-align: justify;
  color: #fff;
  font-size: 15px;
}
.offer_title {
  /*Главный заголовок*/
  color: #fff;
  height: 32px;
  text-align: center;
}
.text-title {
  /*Надпись под заголовком*/
  color: #fff;
  display: inline-block;
  text-align: center;
  margin-right: 2px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 2px;
}
.text-title::after,
.text-title::before {
  /*Кружки рядом с текстом*/
  content: '•';
  display: inline-block;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
}
.wrap_h3 {
  /*Управление сразу тремя заголовками*/
  text-align: center;
}
.offer-box {
  margin-top: 55px;
}
.wrap-offer {
  /*Общие блоки с обводкой*/
  position: relative;
  text-align: center;
  width: 481px;
  height: 298px;
  border: 4px solid #fff;
}
.offer-img {
  position: absolute;
  top: -20%;
  right: 41%;
}
.text-border {
  text-align: center;
  color: #fff;
  margin-top: 24px;
  font-size: 20px;
}
.text-border-2 {
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.btn-offer {
  width: 322px;
  height: 56px;
  background-color: #f39c12;
  margin-top: 87px;
  color: #fff;
  font-size: 15px;
}
/*Секция "По Вашему желанию"*/
.windows {
  /*Параметры секции*/
  width: 100%;
  height: 1188px;
  background: url(../img/bg_base.jpg) no-repeat center;
  background-size: cover;
}
.header-windows {
  /*Стилизация заголовка*/
  text-align: center;
  margin-bottom: 45px;
}
.wrap-windows {
  /*Управляющий блок*/
  text-align: center;
  height: 350px;
}
.windows-img {
  height: 200px;
}
.title-windows {
  /* Заголовки окон сверху все*/
  color: #0083b5;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 11px;
}
.price {
  /* Блок с ценами внизу*/
  background-color: #fff;
  border: 2px dashed #f39c12;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 28px;
  margin-left: 21%;
}
.central-box {
  height: 600px;
  margin-bottom: 20px;
}
.windows-about-text {
  text-align: center;
}
.text-write {
  /*Стилизуем текст после окон*/
  font-size: 15px;
}
.write {
  /*Стилизуем номера телефонов*/
  font-weight: 500;
  font-size: 18px;
}
.form-windows {
  /*Инпуты формы в секции с окнами*/
  width: 321px;
  height: 55px;
}
.form-windows:focus {
  /*Убрали выделение инпутов*/
  outline: none;
}
.wrap_2 {
  text-align: center;
}
.wrap-input {
  /*обертка инпутов + управление*/
  margin: 10px;
  position: relative;
  display: inline-block;
}
.img-input {
  position: absolute;
  top: 10px;
  right: 10px;
}
.btn-windows {
  /*Кнопка под инпутами*/
  display: block;
  margin-left: 36%;
  width: 323px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 42px;
  padding-left: 42px;
  color: #fff;
  background-color: #f39c12;
  border-radius: 10px;
  font-size: 16px;
}
.wrap-span {
  margin-top: 11px;
  text-align: center;
}
.btn-span:hover {
  cursor: pointer;
  text-decoration: underline;
}
.write-hover {
  margin-left: 40%;
  text-align: center;
  width: 231px;
  height: 50px;
  background-color: #fff;
  font-size: 10px;
  position: relative;
  border: 1px solid #b5aaaa;
}
.write-hover::before {
  display: block;
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: -28%;
  left: 44%;
  border-top-width: 10px solid #b5aaaa ;
  /*Треугольник так сделать не удалось, разобраться, как закончу с макетом, ибо время идет*/
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 13px solid #fff;
}
/*Секция с преимуществами*/
.features {
  background: url(../img/bg_why.jpg) no-repeat center;
  height: 500px;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.title-features {
  font-size: 18px;
}
.text-features {
  font-size: 16px;
}
/*Секция с гарантиями*/
.warranty {
  background: url(../img/bg_base.jpg) no-repeat center;
}
.warranty-block {
  /*Верхний row*/
  text-align: center;
}
.title-warranty {
  /*Заголовок*/
  margin-bottom: 33px;
}
.man_text {
  /*Позиционируем изображение*/
  margin-top: 52px;
}
.title-man {
  text-align: center;
  color: #2283aa;
  font-size: 27px;
}
.text-man {
  margin: 3px;
  text-align: left;
  line-height: 1.3;
  font-size: 15px;
}
.man-img {
  margin-top: 23px;
}
.text-warranty {
  margin-top: 17px;
  font-size: 16px;
  font-weight: 510;
}
/*Секция с сертифи-тами*/
.our {
  background: url(../img/bg_our.png) no-repeat center;
  height: 420px;
  background-size: cover;
}
.title-our {
  text-align: center;
  color: #fff;
}
.our-img {
  margin-top: 33px;
  text-align: center;
}
.img_number {
  padding-right: 33px;
  padding-bottom: 33px;
}
/*Секция с направлениями*/
.direction {
  height: 811px;
  background: url(../img/bg_base.jpg) no-repeat center;
}
.title-direction {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 25px;
  color: #2e2e2e;
}
.wrap-direction {
  text-align: center;
}
.text-direction {
  font-weight: 600;
  color: #2e2e2e;
  margin-top: 15px;
}
.control {
  width: 900px;
  margin-left: 11%;
}
.control_2 {
  width: 600px;
  margin-left: 24%;
}
.direction-img {
  border: 10px solid #c7c6c1;
  border-radius: 50%;
}
/*Секция с ответами*/
.answer {
  height: 501px;
  background: url(../img/bg_answer.png) no-repeat center;
}
.title-answer {
  text-align: center;
  color: #fff;
  margin-top: 36px;
  font-size: 20px;
}
.size_title {
  font-size: 18px;
}
.box-answer {
  text-align: center;
}
.wrap-answer {
  position: relative;
  display: inline-block;
}
.text-answer {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 30px;
  border-radius: 5px;
}
textarea:focus {
  outline: none;
}
.input-answer {
  width: 323px;
  height: 55px;
  border-radius: 5px;
  margin-right: 10px;
}
.input-answer:focus {
  outline: none;
}
.img-answer {
  position: absolute;
  right: 20px;
  top: 10px;
}
.btn-answer {
  width: 319px;
  height: 55px;
  background-color: #f39c12;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  margin-left: 36%;
  margin-top: -10px;
}
.small-answer {
  text-align: center;
  margin-top: 18px;
  color: #fff;
}
/*Секция с отзывами*/
.feedback {
  height: 820px;
  background: url(../img/bg_base.jpg) no-repeat center;
  background-size: cover;
}
.title-feedback {
  font-size: 25px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 34px;
}
.title-clients {
  text-align: left;
  font-weight: 600;
  color: #3ea5ce;
  font-size: 15px;
  line-height: 1;
}
.text-clients {
  text-align: left;
  font-weight: 600;
  color: #f39c12;
  font-size: 15px;
  line-height: 1;
}
.about-clients {
  margin-top: 30px;
  font-style: italic;
  margin-bottom: 30px;
}
.c_1 {
  float: left;
  margin-right: 20px;
}
/*Секция с ошибками конкурентов*/
.true {
  height: 850px;
  background: url(../img/bg_true.png) no-repeat center;
  background-size: cover;
}
.title-true {
  margin-top: 30px;
  text-align: center;
  color: #fff;
}
.true-description {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.true-text {
  margin-top: 23px;
  color: #fff;
}
.true-about {
  color: #fff;
}
.true-wrap {
  height: 350px;
}
/*Секция  услуги (двойная)*/
.more {
  height: 370px;
  background: url(../img/bg_base.jpg) no-repeat center;
}
/* Первый раздел секции*/
.block-form {
  margin-top: 43px;
  background-color: #fff;
  width: 1002px;
  height: 290px;
  border-top: 5px solid #e2e2e2;
  border-left: 5px solid #ff3636;
  border-right: 5px solid #ff3636;
  border-bottom: 5px solid #6dcef5;
  text-align: center;
}
.title-more {
  margin-top: 10px;
  text-align: center;
}
.sub-more {
  margin-top: 10px;
  text-align: center;
  color: #2283aa;
}
.wrap-more {
  text-align: center;
  position: relative;
  display: inline-block;
  margin-top: 35px;
  margin-right: 8px;
}
.more-input {
  width: 322px;
  height: 55px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.more-input:focus {
  outline: none;
}
.img-more {
  position: absolute;
  top: 10px;
  right: 15px;
}
.btn-more {
  display: block;
  margin-left: 34%;
  width: 322px;
  height: 55px;
  background-color: #f39c12;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
}
/*Второй раздел секции*/
.service {
  height: 401px;
  background-color: #e8e8e8;
  background-size: cover;
}
.title-service {
  text-align: center;
}
.service-list {
  margin-top: 45px;
  font-size: 18px;
  list-style: none;
  line-height: 2;
  font-weight: 600;
  color: #3ea5ce;
}
.wrap-list {
  position: relative;
}
.service-text {
  /*Правая часть секции*/
  margin-top: 60px;
}
.service-text > p {
  margin: 5px;
}
.link-a:hover {
  color: #f39c12;
  text-decoration: none;
  border-bottom: 1px dashed #f39c12;
}
.img-list {
  position: absolute;
  left: 95%;
  top: 28%;
}
/*Секция почему*/
.why {
  height: 555px;
  background: url(../img/why_bg.png) no-repeat center;
  background-size: cover;
  color: #fff;
}
.title-why {
  padding-top: 50px;
  padding-bottom: 33px;
  margin-top: 0;
  text-align: center;
  font-size: 35px;
}
.wrap-why {
  text-align: center;
  margin-bottom: 40px;
}
.text-why-title {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.text-why {
  margin-top: -10px;
  font-size: 13px;
}
/*Секция с вопросами*/
.questions {
  text-align: center;
  height: 464px;
  background-color: #e8e8e8;
}
.block-questions {
  margin-top: 40px;
  background-color: #fff;
  height: 371px;
  width: 1001px;
  max-width: 100%;
  border-top: 5px solid #6dcef5;
  border-left: 5px solid #ff3636;
  border-right: 5px solid #ff3636;
  border-bottom: 5px solid #6dcef5;
}
.wrap-questions {
  position: relative;
  display: inline-block;
  margin: 10px;
}
.input-questions {
  width: 322px;
  height: 55px;
}
.input-questions:focus {
  outline: none;
}
.img-quest {
  position: absolute;
  top: 10px;
  right: 10px;
}
.block-dropdown {
  position: absolute;
  top: 15px;
  right: 10px;
}
/*Footer*/
.end {
  background-color: #4f4f4f;
  color: #fff;
  height: 148px;
}
.block-end {
  margin-top: 90px;
  text-align: center;
}
.text-footer {
  margin-bottom: 3px;
  color: #aaaaaa;
}
/*______________________________________________________*/
@media (max-width: 1200px) {
  label {
    /*Развертывание чек-бокса (начало)*/
    display: block;
  }
  .menu-drive {
    /*Фиксатор чекбокса*/
    position: relative;
  }
  .menu-box {
    visibility: hidden;
  }
  .menu_btn {
    /*Стилизация кнопки*/
    position: absolute;
    width: 26px;
    height: 26px;
    left: 0;
    top: 28px;
    cursor: pointer;
    z-index: 1;
  }
  .menu_btn > span,
  .menu_btn > span::before,
  .menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .menu_btn > span::before {
    content: '';
    top: -8px;
  }
  .menu_btn > span::after {
    content: '';
    top: 8px;
  }
  #menu_toggle:checked ~ .menu_btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu_toggle:checked ~ .menu_btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #menu_toggle:checked ~ .menu_btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu_toggle:checked ~ .menu-box {
    visibility: visible;
    left: 0;
  }
  .price {
    margin-left: 15%;
  }
  .man-img {
    margin-top: 53px;
  }
  .control {
    width: 750px;
    margin-left: 10%;
  }
  .control_2 {
    width: 500px;
    margin-left: 23%;
  }
  .btn-answer {
    margin-left: 33%;
  }
  .about-clients {
    margin-top: 10px;
  }
  .feedback {
    background-size: cover;
    height: 1050px;
  }
  .block-form {
    width: 100%;
  }
  .more-input {
    width: 222px;
  }
  .btn-more {
    margin-left: 32%;
  }
}
@media (max-width: 991px) {
  .offer {
    height: 1234px;
    background-size: cover;
  }
  nav ul {
    background-color: #0083b5;
  }
  nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
    margin-right: 0;
  }
  .menu-header {
    display: block;
  }
  .wrap-img {
    display: none;
  }
  .wrap-offer {
    margin-top: 80px;
  }
  .offer_title {
    font-size: 27px;
  }
  .text-title {
    font-size: 16px;
  }
  .wrap_h3 {
    margin-bottom: -50px;
  }
  .windows {
    height: 1800px;
  }
  .central-box {
    margin-bottom: 450px;
  }
  .our {
    height: 720px;
  }
  .control {
    width: 570px;
    margin-left: 10%;
  }
  .control_2 {
    width: 390px;
    margin-left: 23%;
  }
  .direction {
    height: 882px;
  }
  .btn-answer {
    margin-left: 28%;
  }
  .feedback {
    height: 1300px;
  }
  .about-clients {
    margin-top: 20px;
  }
  .true {
    height: 1300px;
  }
  .btn-more {
    margin-left: 26%;
  }
  .block-form {
    height: 320px;
  }
  .service {
    height: 800px;
  }
}
@media (max-width: 767px) {
  .title {
    height: 164px;
  }
  .offer_title {
    font-size: 20px;
  }
  nav li {
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
  }
  .windows {
    height: 2800px;
  }
  .central-box {
    margin-bottom: 1490px;
  }
  .our {
    height: 1320px;
  }
  .direction {
    height: 2200px;
  }
  .control {
    margin-left: 10%;
  }
  .control_2 {
    margin-left: 23%;
  }
  .wrap-answer {
    margin-top: 10px;
  }
  .answer {
    height: 600px;
    background-size: cover;
  }
  .area-answer {
    width: 100%;
  }
  .feedback {
    height: 1350px;
  }
  .true {
    height: 1900px;
  }
  .more {
    height: 450px;
  }
  .wrap-more {
    margin-top: 5px;
  }
  .block-form {
    height: 400px;
  }
  .btn-more {
    width: 222px;
    margin-left: 25%;
  }
  .why {
    background-size: cover;
    height: 1100px;
  }
  .block-questions {
    height: 470px;
  }
}
@media (max-width: 518px) {
  .feedback {
    height: 1950px;
  }
}
@media (max-width: 500px) {
  .text-title {
    display: block;
  }
  .wrap-offer {
    width: 100%;
  }
  .btn-offer {
    width: 100%;
  }
  .text-answer {
    width: 100%;
  }
  .more {
    height: 490px;
  }
}
@media (min-width: 320px) and (max-width: 499px) {
  .title-btn {
    position: static;
  }
  .title {
    height: 210px;
  }
  .windows {
    height: 3000px;
  }
  .price {
    margin-left: 12%;
  }
  .btn-windows {
    margin-left: 0;
    width: 100%;
  }
  .form-windows {
    display: block;
    min-width: 100%;
    margin-left: -2%;
  }
  .write-hover {
    margin-left: 15%;
  }
  .control {
    margin-left: -47%;
  }
  .control_2 {
    margin-left: -16%;
  }
  .input-answer {
    width: 305px;
  }
  .direction {
    height: 2260px;
  }
  .answer {
    background-size: cover;
    height: 650px;
  }
  .btn-answer {
    width: 100%;
    margin-left: 0px;
  }
  .feedback {
    height: 2350px;
  }
  .answer {
    height: 700px;
  }
  .small-answer {
    margin-left: -5px;
  }
  .true {
    height: 2000px;
  }
  .true-wrap {
    height: 340px;
  }
  .true-img {
    margin-top: 30px;
  }
  .btn-more {
    margin-left: 22%;
  }
  .service {
    height: 1100px;
  }
  .why {
    height: 1300px;
  }
  .block-questions {
    height: 510px;
  }
  .input-questions {
    width: 250px;
  }
  .block-dropdown {
    right: 80px;
  }
}
@media (max-width: 320px) {
  .btn-more {
    margin-left: 3%;
  }
  .more {
    height: 555px;
  }
  .block-form {
    height: 480px;
  }
}
